In [1]:
import pandas as pd 
import numpy as np
import nltk

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
data=pd.read_excel("./dataset/final_data.xlsx")
data.head()

,Unnamed: 0,hotel_address,hotel_name,country,final_rating,tags_combined,review_no
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,Netherlands,5.30,Leisure trip Couple Duplex Double Room Stayed ...,68
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,Netherlands,7.60,Leisure trip Couple Duplex Double Room Stayed ...,68
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,Netherlands,7.40,Leisure trip Family with young children Duplex...,68
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,Netherlands,5.75,Leisure trip Solo traveler Duplex Double Room ...,68
4,4,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,Netherlands,7.20,Leisure trip Couple Suite Stayed 2 nights Subm...,68

In [4]:
data.country=data.country.str.lower()
data.loc[:3]

,Unnamed: 0,hotel_address,hotel_name,country,final_rating,tags_combined,review_no
0,0,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,netherlands,5.30,Leisure trip Couple Duplex Double Room Stayed ...,68
1,1,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,netherlands,7.60,Leisure trip Couple Duplex Double Room Stayed ...,68
2,2,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,netherlands,7.40,Leisure trip Family with young children Duplex...,68
3,3,s Gravesandestraat 55 Oost 1092 AA Amsterdam ...,Hotel Arena,netherlands,5.75,Leisure trip Solo traveler Duplex Double Room ...,68

In [5]:
data.drop("Unnamed: 0",axis=1,inplace=True)

In [6]:
a=data[data.review_no>100]
a.shape

(250039, 6)

In [7]:
import re
a=data.tags_combined.loc[0]
a

'Leisure trip Couple Duplex Double Room Stayed 6 nights'

In [8]:
a=re.sub("[^a-zA-Z0-9]"," ",";>;>Leisure trip Couple Duplex Double Room Stayed 6 nights!!!").strip()
a

'Leisure trip Couple Duplex Double Room Stayed 6 nights'

In [9]:
a.strip().lower().split(" ")

['leisure',
 'trip',
 'couple',
 'duplex',
 'double',
 'room',
 'stayed',
 '6',
 'nights']

In [10]:
text=[]
for i in data.tags_combined:
    test=[]
    i=re.sub("[^a-zA-Z0-9]"," ",i)
    i=i.strip().lower().split(" ")
    for words in i:
        if words!="":
            test.append(words)
    text.append(" ".join(test))

In [11]:
text[:5]

['leisure trip couple duplex double room stayed 6 nights',
 'leisure trip couple duplex double room stayed 4 nights',
 'leisure trip family with young children duplex double room stayed 3 nights submitted from a mobile device',
 'leisure trip solo traveler duplex double room stayed 3 nights',
 'leisure trip couple suite stayed 2 nights submitted from a mobile device']

In [12]:
# nltk.download("stopwords")
from nltk.corpus import stopwords

In [13]:
stopwords

In [14]:
for words in stopwords.words("english"):
    print(words,end=" ")

a about above after again against ain all am an and any are aren aren't as at be because been before being below between both but by can couldn couldn't d did didn didn't do does doesn doesn't doing don don't down during each few for from further had hadn hadn't has hasn hasn't have haven haven't having he he'd he'll her here hers herself he's him himself his how i i'd if i'll i'm in into is isn isn't it it'd it'll it's its itself i've just ll m ma me mightn mightn't more most mustn mustn't my myself needn needn't no nor not now o of off on once only or other our ours ourselves out over own re s same shan shan't she she'd she'll she's should shouldn shouldn't should've so some such t than that that'll the their theirs them themselves then there these they they'd they'll they're they've this those through to too under until up ve very was wasn wasn't we we'd we'll we're were weren weren't we've what when where which while who whom why will with won won't wouldn wouldn't y you you'd you'll your you're yours yourself yourselves you've

In [15]:
"a" in stopwords.words("english")

True

In [16]:
stop=stopwords.words("english")
filtered_text=[]
for i in text:
    filter=[]
    for words in i.split(" "):
        if words not in stop and words not in filter:
            filter.append(words)
    filtered_text.append(filter)

In [17]:
filtered_text[:2]

[['leisure',
  'trip',
  'couple',
  'duplex',
  'double',
  'room',
  'stayed',
  '6',
  'nights'],
 ['leisure',
  'trip',
  'couple',
  'duplex',
  'double',
  'room',
  'stayed',
  '4',
  'nights']]

In [18]:
len(filtered_text)

515738

In [19]:
from nltk.stem import WordNetLemmatizer
# nltk.download('averaged_perceptron_tagger_eng')
from nltk import pos_tag
lemmitizer=WordNetLemmatizer()

In [20]:
filtered_text[:2]

[['leisure',
  'trip',
  'couple',
  'duplex',
  'double',
  'room',
  'stayed',
  '6',
  'nights'],
 ['leisure',
  'trip',
  'couple',
  'duplex',
  'double',
  'room',
  'stayed',
  '4',
  'nights']]

In [21]:
pos_tagged=[]
for i in filtered_text[:2]:
    pos_tagged.append(pos_tag(i))

In [22]:
part_of_speech=[]
for i in filtered_text:
    part_of_speech.append(pos_tag(i))

In [23]:
for i in part_of_speech[:2]:
    for (words,pos) in i:
        print(words,pos)

leisure NN
trip NN
couple NN
duplex VBP
double JJ
room NN
stayed VBD
6 CD
nights NNS
leisure NN
trip NN
couple NN
duplex VBP
double JJ
room NN
stayed VBD
4 CD
nights NNS

In [24]:
from nltk.corpus import wordnet
# nltk.download("wordnet")
def get_word_pos(treebank_tag):
    if treebank_tag.startswith("N"):
        return wordnet.NOUN
    elif treebank_tag.startswith("J"):
        return wordnet.ADJ
    elif treebank_tag.startswith("V"):
        return wordnet.VERB
    elif treebank_tag.startswith("R"):
        return wordnet.ADV
    else:
        return wordnet.NOUN

In [25]:
lemma=[]
for i in part_of_speech:
    lemmed=[]
    for word,pos in i:
        lemmed.append(lemmitizer.lemmatize(word,get_word_pos(pos)))
    lemma.append(lemmed)

lemma[:5]

[['leisure',
  'trip',
  'couple',
  'duplex',
  'double',
  'room',
  'stay',
  '6',
  'night'],
 ['leisure',
  'trip',
  'couple',
  'duplex',
  'double',
  'room',
  'stay',
  '4',
  'night'],
 ['leisure',
  'trip',
  'family',
  'young',
  'child',
  'duplex',
  'double',
  'room',
  'stay',
  '3',
  'night',
  'submit',
  'mobile',
  'device'],
 ['leisure',
  'trip',
  'solo',
  'traveler',
  'duplex',
  'double',
  'room',
  'stay',
  '3',
  'night'],
 ['leisure',
  'trip',
  'couple',
  'suite',
  'stay',
  '2',
  'night',
  'submit',
  'mobile',
  'device']]

In [26]:
final_tags=[]
for i in lemma:
    final_tags.append(" ".join(i))

In [27]:
final_tags[:5]

['leisure trip couple duplex double room stay 6 night',
 'leisure trip couple duplex double room stay 4 night',
 'leisure trip family young child duplex double room stay 3 night submit mobile device',
 'leisure trip solo traveler duplex double room stay 3 night',
 'leisure trip couple suite stay 2 night submit mobile device']

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()
tags_processed=cv.fit_transform(final_tags).toarray()

In [29]:
len(tags_processed)

515738

In [30]:
(tags_processed[2]==1).sum(),(tags_processed[0]==1).sum()

(np.int64(13), np.int64(8))

In [31]:
tags_processed.shape

(515738, 596)

In [32]:
from sklearn.metrics import jaccard_score
cs=jaccard_score(tags_processed[0].reshape(-1,1),tags_processed[2].reshape(-1,1))

In [33]:
cs

0.5

In [34]:
jc_score=[]
for i in range(4):
    jc_score.append(jaccard_score(tags_processed[tags_processed[i]].reshape(-1,1),tags_processed[tags_processed[i+1]].reshape(-1,1)))
    i+=2
jc_score

[1.0, 1.0, 1.0, 1.0]

In [35]:
def preprocess(x):
    #re
    i=re.sub("[^a-zA-Z0-9]"," ",x)
    #tokenization
    i=i.strip().lower().split(" ")
    test=[]
    for words in i:
        if words!="":
            test.append(words)
    #stopword removal
    test1=[]
    for words in test:
        if words not in stop and words not in test1:
            test1.append(words)
    #lemmatization
    lemmed_sent=[]
    for word,pos in pos_tag(test1):
        lemmed_sent.append(lemmitizer.lemmatize(word,get_word_pos(pos)))
    #countvextorizer
    final_text=[]
    final_text.append(" ".join(lemmed_sent))
    vector=cv.transform(final_text).toarray()
    return vector

In [36]:
(preprocess("i wan to h=go for a business trip yeahhhh ; >:>:>")==1).sum()

np.int64(2)

In [37]:
from sklearn.metrics.pairwise import cosine_similarity
cs=[]
a=preprocess("i wan to h=go for a business trip yeahhhh ; >:>:>")
cs.append(cosine_similarity(a,tags_processed))

In [38]:
cs

[array([[0.25      , 0.25      , 0.19611614, ..., 0.21320072, 0.25      ,
         0.25      ]], shape=(1, 515738))]

In [39]:
res=np.array(cs).squeeze()
res,res.shape

(array([0.25      , 0.25      , 0.19611614, ..., 0.21320072, 0.25      ,
        0.25      ], shape=(515738,)),
 (515738,))

In [40]:
res=res.reshape(-1,1)
res.shape

(515738, 1)

In [41]:
data["cosine_score"]=res

In [42]:
data.groupby("country")["cosine_score"].mean()

country
austria        0.258801
france         0.252043
italy          0.264212
netherlands    0.246285
spain          0.236956
uk             0.254346
Name: cosine_score, dtype: float64

In [43]:
data1=data[data.country=="austria"]
data1.shape

(38939, 7)

In [44]:
data1.head()

,hotel_address,hotel_name,country,final_rating,tags_combined,review_no,cosine_score
268055,Althanstra e 5 09 Alsergrund 1090 Vienna Austria,Hotel Bellevue Wien,austria,9.05,Leisure trip Couple Standard Double Room Staye...,3,0.213201
268056,Althanstra e 5 09 Alsergrund 1090 Vienna Austria,Hotel Bellevue Wien,austria,8.00,Leisure trip Couple Executive Double Room Stay...,3,0.213201
268057,Althanstra e 5 09 Alsergrund 1090 Vienna Austria,Hotel Bellevue Wien,austria,8.20,Leisure trip Couple Executive Double Room Stay...,3,0.250000
268058,Althanstra e 5 09 Alsergrund 1090 Vienna Austria,Hotel Bellevue Wien,austria,8.45,Leisure trip Couple Standard Double Room Staye...,3,0.250000
268059,Althanstra e 5 09 Alsergrund 1090 Vienna Austria,Hotel Bellevue Wien,austria,5.70,Business trip Couple Standard Double Room Stay...,3,0.500000

In [45]:
data1.review_no.max()

np.int64(317)

In [46]:
data1.sort_values(by="cosine_score",ascending=False,inplace=True)
data1.sort_values(by="final_rating",ascending=False,inplace=True)
data1.sort_values(by="review_no",ascending=False,inplace=True)
data1.drop_duplicates(subset="hotel_name",keep="first",inplace=True)
data1.reset_index(inplace=True)
data1.head()
pd.DataFrame(data1.head(),columns=["hotel_name","hotel_address","final_rating"])

,hotel_name,hotel_address,final_rating
0,Hotel Stefanie,Taborstra e 12 02 Leopoldstadt 1020 Vienna Aus...,5.80
1,Hotel Regina,Rooseveltplatz 15 09 Alsergrund 1090 Vienna Au...,8.60
2,25hours Hotel beim MuseumsQuartier,Lerchenfelder Stra e 1 3 07 Neubau 1070 Vienna...,8.55
3,Hotel Capricorno,Schwedenplatz 3 4 01 Innere Stadt 1010 Vienna ...,9.55
4,Hotel City Central,Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Au...,8.05

In [47]:
tags=[preprocess(i) for i in data1.tags_combined]
tags=np.array(tags).squeeze()
tags[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0])

In [48]:
cs=cosine_similarity(preprocess("i wan to h=go for a business trip yeahhhh ; >:>:>"),tags)
cs

array([[0.21320072, 0.19611614, 0.21320072, 0.21320072, 0.42640143,
        0.        , 0.40824829, 0.21320072, 0.26726124, 0.4472136 ,
        0.2236068 , 0.23570226, 0.2236068 , 0.26726124, 0.2236068 ,
        0.20412415, 0.21320072, 0.4472136 , 0.25      , 0.47140452,
        0.26726124, 0.47140452, 0.21320072, 0.21320072, 0.20412415,
        0.18898224, 0.19611614, 0.25      , 0.26726124, 0.40824829,
        0.19611614, 0.42640143, 0.20412415, 0.23570226, 0.40824829,
        0.19611614, 0.2236068 , 0.25      , 0.2236068 , 0.18898224,
        0.25      , 0.2236068 , 0.2236068 , 0.23570226, 0.5       ,
        0.53452248, 0.23570226, 0.20412415, 0.19611614, 0.47140452,
        0.25      , 0.21320072, 0.21320072, 0.25      , 0.21320072,
        0.21320072, 0.2236068 , 0.20412415, 0.19611614, 0.23570226,
        0.2236068 , 0.47140452, 0.20412415, 0.4472136 , 0.19611614,
        0.25      , 0.19611614, 0.23570226, 0.        , 0.2236068 ,
        0.20412415, 0.53452248, 0.21320072, 0.40824829, 0.21320072,
        0.21320072, 0.23570226, 0.20412415, 0.23570226, 0.23570226,
        0.4472136 , 0.47140452, 0.53452248, 0.2236068 , 0.26726124,
        0.42640143, 0.21320072, 0.25      , 0.47140452, 0.26726124,
        0.25      , 0.25      , 0.25      , 0.23570226, 0.40824829,
        0.        , 0.        , 0.21320072, 0.        , 0.40824829,
        0.20412415, 0.47140452, 0.23570226, 0.18898224, 0.23570226,
        0.2236068 , 0.25      , 0.47140452, 0.23570226, 0.4472136 ,
        0.2236068 , 0.40824829, 0.23570226, 0.21320072, 0.20412415,
        0.23570226, 0.4472136 , 0.53452248, 0.4472136 , 0.47140452,
        0.1767767 , 0.21320072, 0.21320072, 0.20412415, 0.2236068 ,
        0.53452248, 0.25      , 0.26726124, 0.23570226, 0.21320072,
        0.21320072, 0.21320072, 0.36514837, 0.25      , 0.21320072,
        0.19611614, 0.5       , 0.        , 0.25      , 0.25      ,
        0.23570226, 0.21320072, 0.47140452, 0.23570226, 0.25      ,
        0.2236068 , 0.2236068 , 0.5       , 0.19611614, 0.25      ,
        0.5       , 0.5       , 0.        , 0.47140452, 0.2236068 ,
        0.5       , 0.2236068 , 0.21320072]])

In [49]:
data1["cosine_score"]=cs.reshape(-1,1)

In [50]:
data1.cosine_score

0      0.213201
1      0.196116
2      0.213201
3      0.213201
4      0.426401
         ...
153    0.471405
154    0.223607
155    0.500000
156    0.223607
157    0.213201
Name: cosine_score, Length: 158, dtype: float64

In [51]:
data1.sort_values(by="cosine_score",ascending=False,inplace=True)
data1.sort_values(by="final_rating",ascending=False,inplace=True)
data1.sort_values(by="review_no",ascending=False,inplace=True)
data1.drop_duplicates(subset="hotel_name",keep="first",inplace=True)
data1.reset_index(inplace=True)
pd.DataFrame(data1.head(),columns=["hotel_name","hotel_address","final_rating"])

,hotel_name,hotel_address,final_rating
0,Hotel Stefanie,Taborstra e 12 02 Leopoldstadt 1020 Vienna Aus...,5.80
1,Hotel Regina,Rooseveltplatz 15 09 Alsergrund 1090 Vienna Au...,8.60
2,25hours Hotel beim MuseumsQuartier,Lerchenfelder Stra e 1 3 07 Neubau 1070 Vienna...,8.55
3,Hotel Capricorno,Schwedenplatz 3 4 01 Innere Stadt 1010 Vienna ...,9.55
4,Hotel City Central,Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Au...,8.05

In [52]:
def recemmond_hotel(country,description,data=data):
    description=preprocess(description)
    data1=data[data.country==country.lower()]
    tags=[preprocess(i) for i in data1.tags_combined]
    tags=np.array(tags).squeeze()
    cs= cosine_similarity(description,tags)
    data1["cosine_score"]=cs.reshape(-1,1)
    data1.sort_values(by="cosine_score",ascending=False,inplace=True)
    data1.sort_values(by="final_rating",ascending=False,inplace=True)
    data1.sort_values(by="review_no",ascending=False,inplace=True)
    # data1.sort_values(
    #     by=["cosine_score","final_rating","review_no"],
    #     ascending=[False,False,False],
    #     inplace=True,
    # )
    data1.drop_duplicates(subset="hotel_name",keep="first",inplace=True)
    data1.reset_index(inplace=True)
    return pd.DataFrame(data1.head(),columns=["hotel_name","hotel_address","final_rating"])

In [53]:
recemmond_hotel("UK","i wan to h=go for a business trip yeahhhh ; >:>:>")

,hotel_name,hotel_address,final_rating
0,Park Plaza Westminster Bridge London,Westminster Bridge Road Lambeth London SE1 7UT UK,7.50
1,DoubleTree by Hilton Hotel London Tower of London,7 Pepys Street City of London London EC3N 4AF UK,9.35
2,Intercontinental London The O2,1 Waterview Drive Greenwich London SE10 0TW UK,8.65
3,M by Montcalm Shoreditch London Tech City,151 157 City Road Shoreditch Islington London ...,8.95
4,Strand Palace Hotel,372 Strand Westminster Borough London WC2R 0JJ UK,6.55

In [54]:
# recemmond_hotel("Spain","i wan to go for a business trip yeahhhh ; >:>:>")

In [55]:
# recemmond_hotel("NethERLANDS","We are couple and wnat to go on a luxurious,honeymoon")

In [56]:
import joblib
joblib.dump(recemmond_hotel,"hotel_recemmondation.pkl")

['hotel_recemmondation.pkl']

In [57]:
hotel_recom=joblib.load("hotel_recemmondation.pkl")

In [60]:
hotel_recom("france","Peaceful retreat with beautiful views")

,hotel_name,hotel_address,final_rating
0,Holiday Inn Paris Gare de l Est,5 rue du 8 Mai 1945 10th arr 75010 Paris France,5.40
1,Mercure Paris Terminus Nord,21 rue de Dunkerque 10th arr 75010 Paris France,7.65
2,Pullman Paris Tour Eiffel,18 Avenue De Suffren Entr e au 22 rue Jean Rey...,7.65
3,H tel D Aubusson,33 Rue Dauphine 6th arr 75006 Paris France,9.50
4,Mercure Paris Centre Tour Eiffel,20 Rue Jean Rey 15th arr 75015 Paris France,7.55

In [61]:
joblib.dump(cv,"count_vectorizer.pkl")

['count_vectorizer.pkl']

In [62]:
joblib.dump(tags_processed,"hotel_vectors.pkl")

['hotel_vectors.pkl']

In [58]:
# hotel_recom("austriA","We are couple and wnat to go on a luxurious,honeymoon")

In [59]:
# hotel_recom("Austria","peaceful retreat and quite relaxing place")